body {
	position: relative;
	margin: 0;
}
#container {
	height: 100svh;
	position: relative;
	overflow: hidden;
}
#credit {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 4px;
	background: #fff9;
}
