body {
	position: relative;
	margin: 0;
	font-family: "BIZ UDGothic";
}
#container {
	height: 100svh;
	position: relative;
	overflow: hidden;
}
#credit {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 4px;
	background: #fff9;
	font-size: 32px;
}
.spot-name {
	display: none;
	writing-mode: vertical-rl;
}
.scanning {
	display: none;
}
